<!DOCTYPE html>
<html>
<head>
  <title>Ticketsua</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <nav class="navbar navbar-default" role="navigation">            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                            
                  <li><%= link_to 'SIGN IN', new_user_session_path %></li>
                  <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
                  <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">Про меня<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="http://www.github.com/anti-k-camino">Мой гитхаб</a></li>   <li class="divider"></li>
                        <li><a href="http://www.facebook.com">facebook</a></li>
                        <li class="divider"></li>                        
                     </ul>
                  </li>
               </ul>
               <% if user_signed_in? %>
                <ul class="nav navbar-nav navbar-right">                  
                  <li><%= link_to 'Exit', destroy_user_session_path, method: :delete %></li>
                </ul>                
                <% end %>              
             
            </div>
            <!-- /.navbar-collapse -->
         </nav>
      </div>
   </div>
</div>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
